h1 {
  color: white;
  font-weight: 900;
}

p {
  font-weight: 100;
  margin-top: 20px;
}

.hero {
  display: flex;
  flex-direction: row;
}

.primary-button {
  border-radius: 0;
  margin: 0 12px 12px 0;
  width: 200px;
}

.secondary-button {
  border: 1px solid white;
  background-color: #1F1F1F;
  border-radius: 0;
  margin-bottom: 12px;
  width: 200px;
}

.secondary-button:hover {
  background-color: #CFCFCF;
  color: #1F1F1F;
  border: none;
}

.button-bar {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
  padding-left: 0;
}

.card {
  width: 40%;
}

.imageContainer {
  position: relative;
  width: 100%;
}

.cardImg {
  width: 100%;
  margin-left: 20px;
}

.cardImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(31, 31, 31, 1) 0%,
    rgba(31, 31, 31, 0) 60%
  );
  z-index: 1;
}

@media (max-width: 991px) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 80%
  }

  .cardImg::before {
    background-image: linear-gradient(
      to bottom,
      rgba(31, 31, 31, 1) 0%,
      rgba(31, 31, 31, 0) 60%
    );
  }

  .cardImg {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
.button-bar {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

  .primary-button, .secondary-button {
    width: 100%;
    margin: 10px 0;
  }
}